{
    "presets": [
        ["env", {
          "targets": {
            "node": "8.11.2",
            "browsers": [
              "last 2 versions"
            ]
          }
        }],
        ["flow"]
      ],
    "plugins": [
        "transform-decorators",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
    ]
}
